body {
    background-image: url("img/bg.jpg");
    background-attachment: fixed;
}

#square {
    display:flex;
    justify-content: center;
}

#theTabs {
    background-color: white;
    padding: 30px 30px;
    box-shadow: 0 0 1px 20px rgba(0, 0, 0, 0.10);
}

#tabCenter{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.rowLabel {

    margin-bottom: 30px;

}

textarea {
    min-width:100%;
}

#btnValidate {
    display: flex;
    justify-content: center;
}

.validate {

    height: 70px;
    width: 140px;
    font-size: 25px;
}

.titre {
    font-family: 'Comfortaa', sans-serif;
    padding-bottom: 10px;
    text-align: center;
}

#nav-border{
    -webkit-box-shadow: 0px 6px 26px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 6px 26px 0px rgba(0,0,0,0.75);
box-shadow: 0px 6px 26px 0px rgba(0,0,0,0.75);
    background-color: white;
    height: 40px;
}