body {
    background-image: url("img/bg.jpg");
    background-attachment: fixed;

}

.titre {
    font-family: 'Comfortaa', sans-serif;
    padding-bottom: 10px;
}

.mainContainer {
    display : flex;
    align-items: center;
    height: 100vh;
}

#connexion {
    display: flex;
    justify-content: center;
}

.form-group {
    padding-bottom: 20px;
}



#connex-signup {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 576px) {
    #connex-signup{
        flex-direction : column;

    }
    #btnConnexion {
        margin-bottom: 10px;
    }
}

#squareConnexion {
    background-color: white;
    padding: 40px 20px;
    box-shadow: 0 0 1px 20px rgba(0, 0, 0, 0.10);
}

#backCreate{
    background-color: white;
    box-shadow: 0 0 1px 20px rgba(0, 0, 0, 0.10);
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#btnCreate {
    width: 50%;
    margin: 10px;
}

#squareCreate {
    display: flex;
    justify-content: center;
}



